@media only screen and (min-width:1024px) and (max-width:1440px)
{
    .ln-ht3
    {
        line-height: 2.25rem;
    }
    .prodbody .fstcol h2
    {
        padding-top: 3rem;
    }
    .customcontainer1
    {
        width: 90%;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px)
{
    html
    {
        font-size: 14px;
    }
    .customcontainer
    {
        width: 90%;
    }
    .ln-ht3
    {
        line-height: 2rem;
    }
    .prodbody .fstcol h2
    {
        padding-top: 3.375rem;
    }
}
@media only screen and (min-width:320px) and (max-width:767px) and (orientation: landscape)
{
    .ln-ht3 {
        line-height: 3rem;
    }
}
@media only screen and (min-width:320px) and (max-width:767px)
{
    html
    {
        font-size: 12px;
    }
    .customcontainer
    {
        width: 90%;
    }
    .sec2 h2 {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
    .ptb1 {
        padding: 2rem 0rem 0rem;
    }
    .ln-ht3
    {
        line-height: 2rem;
    }
    .allheading {
        font-size: 1.35rem;
        line-height: 1.5rem;
    }
    .padtop-mob
    {
        padding-top: 1.5rem;
    }
}