body
{
    margin: 0 auto;
    font-family: "Times New Roman";
}
.body-bg
{
    background-image: url(../images/bg-pattern.jpg);
    background-repeat: repeat-x;
    width: 100%;
    height: 82.38rem;
}
.bg-gold
{
    background-color: #E6C693;
}
.customcontainer
{
    margin: 0 auto;
    width: 64%;
}
/* Header start */
header ul
{
    list-style-type: none;
    width: 100%;
    padding: 0;
    display: flex;
}
.cls
{
    height: 3rem;
    background-color: #4EA69A;
    background-image: linear-gradient(#4EA69A, #3B857B);
}
header ul li
{
    width: 7.625rem;
    text-align: center;
    font-family: Arial;
}
header ul li a
{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 0.875rem;
    font-size: 0.85rem;
    font-weight: bold;
    color: #ffffff;
}
header ul li.active
{
    background-color: #6E6159;
    background-image: linear-gradient(#6E6159, #9B8E85);
    color: #e4e1bd;
    text-decoration: none;
}
header ul li.active a
{
    color: #e4e1bd;
}
header ul li:hover
{
    background-color: #6E6159;
    background-image: linear-gradient(#6E6159, #9B8E85);
}
header ul li a:hover
{
    background-color: #6E6159;
    background-image: linear-gradient(#6E6159, #9B8E85);
    color: #e4e1bd;
    text-decoration: none;
}
.bdr-rit
{
    border-right: 1px solid #3e847a;;
}
.border-4
{
    border: 4px solid #ffffff;
}
/* Header end */

/* body start */
.font22
{
    font-size: 1.375rem;
    line-height: 1.5rem;
}
.font26
{
    font-size: 1.625rem;
}
.font15
{
    font-size: 0.9375rem;
    line-height: 1.875rem;
}
.font15lh
{
    font-size: 0.9375rem;
    line-height: 1.5rem;
    padding: 0 0 0.20rem;
}
.bbotm
{
    border-bottom: 1px dotted #9c8964;
}
.font14
{
    font-size: 0.875rem;
}
.txt-green
{
    color: #316e66;
}
.txt-green1
{
    color: #2c9688;
}
.txt-gold
{
    color: #5a4535;
}
.txt-brown
{
    color: #594334;
}
.link-style
{
    text-decoration: underline;
    color: #5a4535;
}
.pall-1
{
    padding: 1rem 0.25rem 0;
}
h3
{
    color: #316e66;
    font-weight: normal;
    font-size: 1.125rem;
    letter-spacing: 1px;
    border-bottom: 1px dotted #9c8964;
    margin: 0;
    padding: 0 0 0.75rem;
    text-transform: uppercase;
}
h3.txt-green1
{
    font-weight: normal;
    font-size: 1.125rem;
    letter-spacing: 1px;
    border-bottom: none;
    margin: 0;
    text-transform: uppercase;
}
/* body end */
/* footer start */
.bg-footer
{
    background-color: #AC9E94;
    border-bottom: 1px solid #72675F
}
footer ul
{
    list-style-type: none;
    margin-bottom: 0;
    text-align: center;
    float: left;
}
footer ul li
{
    display: inline-block;
    padding: 0 0.5rem;
}
footer ul li a
{
    color: #594334;
    font-size: 0.875rem;
}
footer ul li.active a
{
    color: #ffffff !important;
    text-decoration: none;
}
footer ul li a:hover
{
    color: #ffffff !important;
    text-decoration: none;
}
footer i
{
    color: #D6CFCA;
    padding: 0.5rem 0.40rem;
    font-size: 1.25rem;
}
/* footer end */